<div class="row">
  <div class="col-md-4"></div>
  <div class="sectionmain mt-5 p-3 col-md-4">
    <% if  action_name == "new"  %> 
      <h3>New Connection Data</h3>
      <%else%>
      <h3>Edit Connection Data</h3>
    <%end%>
    <%= form_with(model: connection) do |form| %>
      <% if connection.errors.any? %>
        <div style="color: red">
          <h5><%= pluralize(connection.errors.count, "error") %> prohibited this connection from being saved:</h5>

          <ul>
            <% connection.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

  <div class="mb-3">
    <%= form.label :title, style: "display: block" %>
    <%= form.text_area :title, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :unit, style: "display: block" %>
    <%= form.text_field :unit, class: "form-control"%>
  </div>

  <div class="fbtn">
    <%= form.submit "Submit", class: "btn btn-sm btn-primary" %>
    <%= link_to "Back to Home", root_path, class: "btn btn-sm btn-primary" %>
  </div>
<% end %>
</div>
<div class="col-md-4"></div>
</div>
