<div class="row">
  <div class="col-md-4"></div>
  <div class="sectionmain mt-5 p-3 col-md-4">
    <% if  action_name == "new"  %> 
      <h3>New Dimension</h3>
      <%else%>
      <h3>Edit Dimension</h3>
    <%end%>
    <%= form_with(model: dimension) do |form| %>
      <% if dimension.errors.any? %>
    <div style="color: red">
      <h5><%= pluralize(dimension.errors.count, "error") %> prohibited this dimension from being saved:</h5>

      <ul>
        <% dimension.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
      <% end %>

      <div class="mb-3">
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name, class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= form.label :unit, style: "display: block" %>
        <%= form.text_field :unit, class: "form-control" %>
      </div>

      <div class="fbtn">
        <%= form.submit "Submit", class: "btn btn-sm btn-primary" %>
        <%= link_to "Back to Home", root_path, class: "btn btn-sm btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
