
<div class="row">
  <div class="col-md-4"></div>
    <div class="sectionmain mt-5 p-3 col-md-4">
     <%#binding.pry%>
      <% if  action_name == "new"  %> 
      <h3>New Technical Data</h3>
      <%else%>
      <h3>Edit Technical Data</h3>
      <%end%>

      <%= form_with(model: technical) do |form| %>
        <% if technical.errors.any? %>
          <div style="color: red">
            <h5><%= pluralize(technical.errors.count, "error") %> prohibited this technical from being saved:</h5>
            <ul>
              <% technical.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
              <div class="mb-3">
                <%# <label>Title</label> %>
                <%= form.label :title, style: "display: block" %>

                <%# <input type="text" class="form-control" id="edit-id" readonly> %>
                 <%= form.text_field :title, class: "form-control", id: "edit-id"%>
              </div>

              <div class="mb-3">
               
                <%= form.label :value, style: "display: block" %>
                <%= form.text_field :value, class:"form-control", id: "edit-name" %>
              </div>
              <div class="fbtn">
                <%= form.submit "Submit", class: "btn btn-sm btn-primary" %>
                <%= link_to "Back to Home", root_path, class: "btn btn-sm btn-primary" %>
              </div>
           <%end%>
          </div>
      <div class="col-md-4"></div>
</div>


